.grid-container {
    height: 100%;
    margin: 20px;
  }
  
  .dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
  }
  
  .more-button {
    position: absolute;
    top: 0px;
    right: 20px;
    display:flex;
    align-items: center;
    gap: 10px;
  }
  
  
.order-table {
  width: 100%;
}
mat-header-cell, mat-cell {
  justify-content: center;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}